version: '3.8'

services:

  javamail:
    image: i9tech/i9-server-javamail:latest
    environment:
      SPRING_PROFILES_ACTIVE: dev
      SPRING_DATASOURCE_USERNAME: ${MYSQL_USER}
      SPRING_DATASOURCE_PASSWORD: ${MYSQL_PASSWORD}
      SPRING_RABBITMQ_HOST: ${RABBIT_JAVAMAIL_HOST}
      SPRING_RABBITMQ_PORT: ${RABBIT_JAVAMAIL_PORT}
      SPRING_RABBITMQ_USERNAME: ${RABBIT_JAVAMAIL_USERNAME}
      SPRING_RABBITMQ_PASSWORD: ${RABBIT_JAVAMAIL_PASSWORD}
      SPRING_MAIL_USERNAME: ${EMAIL_USER}
      SPRING_MAIL_PASSWORD: ${EMAIL_PASSWORD}
      APP_FRONTEND_URL: ${FRONTEND_URL}
    networks:
      - backend-app_app-network
    ports:
      - "8086:8086"

  twilio:
    image: i9tech/i9-server-twilio:latest
    environment:
      SPRING_PROFILES_ACTIVE: dev
      SPRING_DATASOURCE_USERNAME: ${MYSQL_USER}
      SPRING_DATASOURCE_PASSWORD: ${MYSQL_PASSWORD}
      SPRING_RABBITMQ_HOST: ${RABBIT_TWILIO_HOST}
      SPRING_RABBITMQ_PORT: ${RABBIT_TWILIO_PORT}
      SPRING_RABBITMQ_USERNAME: ${RABBIT_TWILIO_USERNAME}
      SPRING_RABBITMQ_PASSWORD: ${RABBIT_TWILIO_PASSWORD}
      TWILIO_ACCOUNT_SID: ${TWILIO_SID}
      TWILIO_AUTH_TOKEN: ${TWILIO_TOKEN}
      TWILIO_PHONE_NUMBER: ${TWILIO_NUMBER}
    networks:
      - backend-app_app-network
    ports:
      - "8087:8087"

  images:
    image: i9tech/i9-server-images:latest
    environment:
      SPRING_PROFILES_ACTIVE: dev
      SPRING_DATASOURCE_USERNAME: ${MYSQL_USER}
      SPRING_DATASOURCE_PASSWORD: ${MYSQL_PASSWORD}
      SPRING_RABBITMQ_HOST: ${RABBIT_IMAGES_HOST}
      SPRING_RABBITMQ_PORT: ${RABBIT_IMAGES_PORT}
      SPRING_RABBITMQ_USERNAME: ${RABBIT_IMAGES_USERNAME}
      SPRING_RABBITMQ_PASSWORD: ${RABBIT_IMAGES_PASSWORD}
      STORAGE_S3_BUCKET_NAME: ${S3_BUCKET_NAME}
      AWS_REGION: ${S3_REGION}
      AWS_ACCESS_KEY_ID: ${S3_ACCESS_KEY}
      AWS_SECRET_ACCESS_KEY: ${S3_SECRET_KEY}
      AWS_SESSION_TOKEN: ${S3_SECRET_TOKEN}
      AZURE_STORAGE_ACCOUNT_NAME: ${AZ_ACCOUNT_NAME}
      STORAGE_AZURE_CONNECTION_STRING: ${AZ_CONNECTION_STRING}
      STORAGE_AZURE_CONTAINER_NAME: ${AZ_CONTAINER_NAME}
      AZURE_STORAGE_SAS_TOKEN: ${AZ_SAS_TOKEN}
    networks:
      - backend-app_app-network
    ports:
      - "8088:8088"

networks:
  backend-app_app-network:
    external: true
